h1 {
    color:darkblue
}
h1{
    font-style:initial
}
p {
    font-style: italic;
    font-size: 40px;
}
h2 {
    color: cornflowerblue
}

h4{
    color:darkred
}
body{
    background-image:url("bg.jpg");
    background-origin:border-box;
    font-size:30px;

}
