h1 {
    color:darkblue
}
h1{
    font-style:initial
}
p {
    font-style: italic;
    font-size: 30px;
    color: ActiveBorder;
    background-color: rgba(0,0,0,0.5);
    width=10%
}
h2 {
    color: cornflowerblue
}

h4{
    color:darkred
}

body {
    background-image: url("bg.jpg");
    background-size: 100%;
    background-origin: border-box;
    font-size: 30px;
}
