<!DOCTYPE html>

<html>
    <style>
       p {
           font-size: 20px;
       }
      li {
        font-size: 20px;
      }
       h1 {
          font-size: 35px;
      }
      h2 {
           font-size: 30px;
      }
      h4 {
         font-size: 25px;
      }
    </style>
<head>
    <meta charset="utf-8" />
    <title>About me</title>
    <link rel="stylesheet" href="..\public\css\CV.css">
</head>
<body>
    <h1> About me:</h1>
    <h2>EDUCATION</h2>

    <h4>BEN GURION UNIVERSITY OF THE NEGEV  - Expected July 2023  </h4>
    <p>
        Industrial Engineering & Management <br />
        Minor in Data Systems
    </p>
    <h4>MOSENSON HIGH SCHOOL. HOD HASHARON ISRAEL - 2012-2015</h4>
    <p>Majored in Film, Physics and English</p>

    <h2>WORK EXPERIENCE </h2>
    <h4> FULL IDF SERVICE IN THE HOMEFRONT COMMAND RESCUE &TRAINING DIRECTION - AUG 2015- MAR 2018</h4>
    <p>
        •	After about half a year of my recruitment, I went to a commander's course and became a commander for about two years.<br />
        •	During my last six months in the IDF, I progressed in the position to become a platoon sergeant before leaving the military.<br />
        •	Rank: Sergeant Major<br />
        •	Served at the 5722 Rescue Regiment.
    </p>
    <h4>
        •	Instructor for the Home Front Command's emergency defense program in schools, I taught students rescue techniques
        in an emergency. 2018-2019
    </h4>

    <h2>VOLUNTEER EXPERIENCE: </h2>
    <h4>
        2020-2021: "Perach Progam" mentor for new Venezuelan immigrant students.<br />
        2013-2015: Volunteered to film and produce urban projects as part of my film major at high school
    </h4>

    <li>▪ Languages: Nativ: Hebrew and spanish || Floant English</li>
    <a href="CV.html">Return to home page</a>
</body>
</html>